body {
    background-image: url(assets/img_bg.jpg);
    background-repeat: round;
}
.custom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.custom>div>img {
    width: 160px;
    height: 90px;
    border-radius: 15px;
    box-shadow: 15px 15px 30px grey ;
    
}
h1, h3 {
    color: brown;
}